$Background : hsl(215,17,20);
$Foreground : hsl(0,0,99);
$IDE : hsl(201,21,16);

$neutral : (
  100 : hsl(0,0,95),
  200 : hsl(180,2,91),
  300 : hsl(200,3,83),
  400 : hsl(204, 4, 74),
  600 : hsl(210,3,52),
  700 : hsl(206,3,41),
  800 : hsl(204,3,31),
  900 : hsl(240,1,13),
);

$Primary : (
  'Primary' : hsl( 211, 57, 49 ),
  100 : hsl( 210, 54, 81 ),
  200 : hsl( 210, 54, 72 ),
  300 : hsl( 210, 53, 58 ),
  400 : hsl( 211, 56, 45 ),
  500 : hsl( 211, 56, 36 )
);

$Secondary : (
  'Primary' : hsl( 173, 55, 48 ),
  100 : hsl( 173, 51, 90 ),
  200 : hsl( 173, 52, 76 ),
  300 : hsl( 173, 52, 62 ),
  400 : hsl( 173, 55, 35 ),
  500 : hsl( 173, 56, 26 )
);

$Accent1 : (
  'Primary' : hsl( 223, 25, 46 ),
  100 : hsl( 221, 21, 85 ),
  200 : hsl( 222, 22, 70 ),
  300 : hsl( 223, 22, 56 ),
  400 : hsl( 224, 25, 38 ),
  500 : hsl( 224, 25, 30 )
);

$Accent2 : (
  'Primary' : hsl( 112, 40, 61 ),
  100 : hsl( 113, 39, 88 ),
  200 : hsl( 113, 40, 77 ),
  300 : hsl( 113, 41, 66),
  400 : hsl( 111, 25, 45 ),
  500 : hsl( 112, 25, 34 )
);

$Accent3 : (
  'Primary' : hsl( 0, 100, 75 ),
  100 : hsl( 0, 100, 91 ),
  200 : hsl( 0, 100, 86 ),
  300 : hsl( 0, 100, 79 ),
  400 : hsl( 0, 40, 55 ),
  500 : hsl( 0, 33, 41 )
);

@function color($base, $shade: 'Primary') {
  $color: map-get(
    $map: $base,
    $key: $shade,
  );
  @return $color;
};